.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 93vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}
.con1 {
    width: 70%;
    padding: 20px;
    display: flex;
    align-items: start;
    padding: 10px;
}
.con2 {
    width: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
}
